@charset "utf-8";
/* CSS Document */

/*dit zorgt ervoor dat de pagina zowieso landscape wordt afgedrukt*/
@Page {
  size: landscape;
}

/*reset alle standaard margin en padding afmetingen*/
*,*:after,*:before
{
	margin: 0 !important;
	padding: 0 !important;
	font-family:verdana, geneva, sans-serif;
	font-size: 16px;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	border-radius: 0px !important;
}


header			{display:none;height: 0cm;}			/*hide header*/
#feedback		{display:none;height: 0cm;}			/* hide feedback*/
.col-3-10		{display:none;height: 0cm;}			/*hide todo*/
.popbox			{display:none;height: 0cm;}			/*hide all popupboxen*/
footer			{display:none;height: 0cm;}			/*hide the footer*/

/*actual css*/
#wrapper			
{
	height:100% !important;
	width: 100% !important; 
}
.col-7-10
{
	height: 100% !important;
	width: 100% !important;
}
#calendar		{
	height:100% !important;
	width: 100% !important;
}

#calendargrid
{
	width:100%;
	height:100%;
}
